/* General styling */
/* Set site background color */
body {
    background-color: #ffac6d;
}

/* Remove text decoration on links */
a {
    text-decoration: none;
}

/* Dark-brown text for paragraphs */
p {
    color: #402e32;
}

/* Dark-brown text for headings */
h1, h2, h3, h4, h5, h6 {
    color: #402e32;
}

/* Footer styling */

/* Brown background on footer */
.darkened-bg {
    background-color: #402e32;
}

/* White footer text for contrast with brown */
.darkened-bg p {
    color: #fff7ed;
}

/* Cards have a lighter background, some space between each other */
.card {
    background-color: #fff7ed;
    margin: 0.5rem;
    min-height: 4rem;
}

/* "Replying to" text is muted */
.replying-to {
    color: #a5abbd;
}

/* "Created at" text is muted */
.created-at {
    color: #a5abbd;
}

/* Remove underline from clickable post text */
.post-link {
    text-decoration: none;
}

/* Slightly move main text of post to the right */
.post-content {
    padding-left: 1em;
}

/* Off-white background for alert popups */
.popup {
    background-color: #fff7ed;
}
