/* General styling */
/* Make the body dark */
body {
    background-color: #102a4c;
}

/* White text */
p {
    color: #e2f0ff;
}

/* White text */
h1, h2, h3, h4, h5, h6 {
    color: #e2f0ff;
}

.dark-text {
    color: #102a4c;
}

/* Navbar styling */

/* Add a gap between posts and the sides of the screen */
.post-section {
    width: 60%;
    margin-left: 20%;
}

/* Cards have a lighter background, some space between each other */
.card {
    background-color: #44577d;
    margin: 0.5rem;
    min-height: 8rem;
}

/* "Replying to" text is darkened */
.replying-to {
    color: #a5abbd;
}

/* "Created at" text is darkened */
.created-at {
    color: #a5abbd;
}

/* Remove underline from clickable post text */
.post-link {
    text-decoration: none;
}

.post-content {
    padding-left: 1em;
}

.detailed-post {
    padding-top: 10px;
    margin-top: 10px;
    position: relative;
    display: inline-block;
    width: 40%;
    margin-left: 25%;
    margin-right: 25%;
}

.reply-row {
    position: relative;
    display: inline-block;
    width: 40%;
    min-width: 100px;
    margin-left:45%;
}