{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-11 col-md-9 col-lg-8 card">
            <div class="card-body">
                <h2 class="card-title">Changed your mind?</h2>

                {% if user.is_authenticated %}
                <form id="post-form" method="post">
                {{ post_form | crispy }}
                {% csrf_token %}
                <button id="submitButton" type="submit"
                    class="btn btn-signup btn-lg">Confirm Edit</button>
                </form>
                {% else %}
                <p>You need to be logged in first! You can do so at the top of the screen.</p>
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock %}