{% extends "base.html" %}

{% block content %}

<!-- Main page content begins here -->
<div>
    <div class="container-fluid">
        <!-- Create post option -->
        <div class = "row">
            <div class = "col-sm-6 col-md-4 card">
                <a href="{% url 'create_post' %}">
                    <h1>Share Your Thoughts</h1>
                    <p>Click here to create a new post!</p>
                </a>
            </div>
        </div>
        <div class="row post-section">
            <!-- Individual posts -->
            {% for post in post_list %}
            <div class = "col-sm-6 col-md-5 card">
                <div class="card-body">
                    <!-- Replying-to text if post is a reply -->
                    {% if post.reply_to %}
                    <a href="{% url 'view_post' post.reply_to.slug %}">
                        <p>
                            In reply to {{post.reply_to.author}}
                        </p>
                    </a>
                    {% endif %}
                    <a href="{% url 'view_post' post.slug %}" class="post-link">
                        <h3 class="card-title">{{ post.author }}:</h2>
                        <p class="card-text post-content">{{ post.content }}</p>
                        <p class="card-text created-at">Posted on {{ post.created_on }}</p>
                        {% if user.is_authenticated and user.is_superuser %}
                        <a href="{% url 'delete_post' post.slug %}">
                            <button class="btn delete-button">Delete</button>
                        </a>
                        {% endif %}
                        {% if user.is_authenticated and user.is_superuser and not post.hidden %}
                        <a href="{% url 'hide_post' post.slug %}">
                            <button class="btn hide-button">Hide</button>
                        </a>
                        {% elif user.is_authenticated and user.is_superuser and post.hidden %}
                        <a href="{% url 'hide_post' post.slug %}">
                            <button class="btn hide-button">Unhide</button>
                        </a>
                        {% endif %}
                    </a>
                </div>
            </div>
            <!-- End row and move on to a new one every second post -->
            {% if forloop.counter|divisibleby:2 %}
        </div>
        <div class="row post-section">
            {% endif %}
            {% endfor %}
        </div>
    </div>
</div>

{% if is_paginated %}
<nav aria-label="Page navigation">
    <ul class="pagination justify-content-center">
        {% if page_obj.has_previous %}
        <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV</a></li>
        {% endif %}
        {% if page_obj.has_next %}
        <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> MORE &raquo;</a></li>
        {% endif %}
    </ul>
</nav>
{% endif %}

{% endblock %}