{% extends "base.html" %}

{% block content %}

{% if post.reply_to %}
<!-- Detailed view of replied-to post -->
<div class="container">
    <div class="row">
        <div class="col-10 col-md-8 col-lg-7 card">
            <div class="card-body">
                <!-- Post being replied to -->
                {% if post.reply_to.reply_to %}
                <a href="{% url 'view_post' post.reply_to.reply_to.slug %}">
                    <p>
                        In reply to {{post.reply_to.author}}
                    </p>
                </a>
                {% endif %}
                <!-- Post author and content -->
                <a href="{% url 'view_post' post.reply_to.slug %}" class="post-link">
                    <h2 class="card-title">{{ post.reply_to.author }} said:</h2>
                    <p class="card-text post-content">{{ post.reply_to.content }}</p>
                    <p class="card-text created-at">Created at {{ post.reply_to.created_on }}</p>
                </a>
            </div>
        </div>
    </div>
</div>
{% endif %}

<!-- Detailed view of clicked post -->
<div class="container">
    <div class="row">
        <div class="col-11 col-md-9 col-lg-8 card">
            <div class="card-body">
                <!-- Post author and content -->
                
                <h2 class="card-title">{{ post.author }} said:</h2>
                <p class="card-text post-content">{{ post.content }}</p>
                <p class="card-text created-at">Created at {{ post.created_on }}</p>
                {% if user.is_authenticated and post.author == user %}
                <a href="{% url 'edit_post' post.slug %}">
                    <button class="btn edit-button">Edit</button>
                </a>
                {% endif %}
                {% if user.is_authenticated and post.author == user or user.is_superuser %}
                <a href="{% url 'delete_post' post.slug %}">
                    <button class="btn delete-button">Delete</button>
                </a>
                {% endif %}
                {% if user.is_authenticated and user.is_superuser and not post.hidden %}
                <a href="{% url 'hide_post' post.slug %}">
                    <button class="btn hide-button">Hide</button>
                </a>
                {% elif user.is_authenticated and user.is_superuser and post.hidden %}
                <a href="{% url 'hide_post' post.slug %}">
                    <button class="btn hide-button">Unhide</button>
                </a>
                {% endif %}
            </div>
        </div>
    </div>
</div>

<!-- Replies section -->
<div class="container">
    {% if replies_count >= 1 %}
    <div class="row">
        <h1>Replies ({{ replies_count }})</h1>
    </div>
    {% endif %}
    <div class="row">
        <div class="col-md-8 col-lg-6 mb-4 mt-3">
            {% for reply in replies %}
            <div class="card">
                <div class="card-body">
                    <a href="{% url 'view_post' reply.slug %}" class="post-link">
                        <h3 class="card-title">{{ reply.author }}:</h2>
                        <p class="card-text post-content">{{ reply.content }}</p>
                        <p class="card-text created-at">Replied at {{ reply.created_on }}</p>
                        {% if user.is_authenticated and user.is_superuser %}
                        <a href="{% url 'delete_post' reply.slug %}">
                            <button class="btn delete-button">Delete</button>
                        </a>
                        {% endif %}
                        {% if user.is_authenticated and user.is_superuser and not post.hidden %}
                        <a href="{% url 'hide_post' reply.slug %}">
                            <button class="btn hide-button">Hide</button>
                        </a>
                        {% elif user.is_authenticated and user.is_superuser and post.hidden %}
                        <a href="{% url 'hide_post' reply.slug %}">
                            <button class="btn hide-button">Unhide</button>
                        </a>
                        {% endif %}
                    </a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}